//Default styles

html {
 box-sizing: border-box;
}
//*, *:before, *:after {
// box-sizing: inherit;
//}

.zdk-boxsizing-border-box {
  @include mix-wrap-boxsizing-border-box;
}

.zdk {
  @include mix-wrap-boxsizing-border-box;
}

body {
  // display: flex;
  // min-height: 100vh;
  // flex-direction: column;
}

main {
  // flex: 1 0 auto;
}

ul {
  &.zdk-browser-default,
  &.zdk-browser-default li {
    list-style-type: initial;
  }

  padding: 0;
  list-style-type: none;

  li {
    list-style-type: none;
  }
}

a {
  &.zdk {
    color: $link-color;
    text-decoration: none;

    // Gets rid of tap active state
    -webkit-tap-highlight-color: transparent;
  }
}


// Positioning
.zdk-valign-wrapper {
  display: flex;
  align-items: center;

  .zdk-valign {
    display: block;
  }
}


// classic clearfix
.zdk-clearfix {
  clear: both;
}

// Z-levels
@import "zdepth";

// Dividers
.zdk-divider {
  height: 1px;
  overflow: hidden;
  background-color: color("grey", "lighten-2");
}

//  Blockquote
blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid $primary-color;
}

// Icon Styles
@import "iconstyles";

// Images
img.zdk-responsive-img,
video.zdk-responsive-video {
  max-width: 100%;
  height: auto;
}

// Pagination
@import "pagination";

// Breadcrumbs
@import "breadcrumbs";

// Parallax
@import "parallax";

/*********************
  Transition Classes
**********************/

ul.zdk-staggered-list li {
  opacity: 0;
}

.zdk-fade-in {
  opacity: 0;
  transform-origin: 0 50%;
}


/*********************
  Media Query Classes
**********************/
@import "media-query-class";


// Center text on mobile
.zdk-center-on-small-only {
  @media #{$small-and-down} {
    text-align: center;
  }
}

// Footer
@import "footer";

// Tables
@import "table";

// Collections
@import "collections";

// Made less specific to allow easier overriding
.zdk-secondary-content {
  float: right;
  color: $secondary-color;
}

// Badges
@import "badges";

nav ul a span.zdk-badge {
  position: static;
  margin-left: 4px;
  line-height: 0;
}

// Responsive Videos
@import "video";

// Progress Bar
@import "progress-bar";
@import "keyframes";

/*******************
  Utility Classes
*******************/
@import "utility-classes";
