button.zdk-btn {
  font: inherit;
  margin: 0;
  text-indent: 0;
  text-shadow: none;
  word-spacing: normal;
  text-rendering: auto;
  align-items: flex-start;
  -webkit-writing-mode: horizontal-tb;
  -webkit-appearance: button;
  overflow: visible;
  &:focus {
    outline: none;
    background-color: $button-background-focus;
  }
}

// shared styles
.zdk-btn,
.zdk-btn-flat {
  @include mix-boxsizing-border-box;
  border: $button-border;
  border-radius: $button-radius;
  display: inline-block;
  height: $button-height;
  line-height: $button-height;
  outline: 0;
  padding: $button-padding;
  text-transform: uppercase;
  vertical-align: middle;
  // Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;
}

// Disabled shared style
.zdk-btn.zdk-disabled,
.zdk-btn-floating.zdk-disabled,
.zdk-btn-large.zdk-disabled,
.zdk-btn:disabled,
.zdk-btn-large:disabled,
.zdk-btn-floating:disabled,
.zdk-btn[disabled],
.zdk-btn-large[disabled],
.zdk-btn-floating[disabled] {
  background-color: $button-disabled-background !important;
  box-shadow: none;
  color: $button-disabled-color !important;
  cursor: default;

  * {
    pointer-events: none;
  }

  &:hover {
    background-color: $button-disabled-background !important;
    color: $button-disabled-color !important;
  }
}

// Shared icon styles
.zdk-btn,
.zdk-btn-floating,
.zdk-btn-large,
.zdk-btn-flat {
  i {
    font-size: $button-font-size;
    line-height: inherit;
  }
}

// Raised Button
.zdk-btn {
  text-decoration: none;
  color: $button-raised-color;
  background-color: $button-raised-background;
  text-align: center;
  letter-spacing: .5px;
  @extend .zdk-z-depth-1;
  transition: .2s ease-out;
  cursor: pointer;

  &:hover {
    background-color: $button-raised-background-hover;
    @extend .zdk-z-depth-1-half;
  }
}

// Floating button
.zdk-btn-floating {
  display: inline-block;
  color: $button-floating-color;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: $button-floating-size;
  height: $button-floating-size;
  line-height: $button-floating-size;
  padding: 0;
  background-color: $button-floating-background;
  border-radius: $button-floating-radius;
  @extend .zdk-z-depth-1;
  transition: .3s;
  cursor: pointer;
  vertical-align: middle;

  i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: $button-floating-color;
    font-size: $button-large-icon-font-size;
    line-height: $button-floating-size;
  }

  &:hover {
    background-color: $button-floating-background-hover;
    @extend .zdk-z-depth-1-half;
  }

  &:before {
    border-radius: 0;
  }

  &.zdk-btn-large {
    width: $button-floating-large-size;
    height: $button-floating-large-size;
    i {
      line-height: $button-floating-large-size;
    }
  }
}

// button fix
button.zdk-btn-floating {
  border: $button-border;
}

// Fixed Action Button
.zdk-fixed-action-btn {
  &.zdk-active {
    ul {
     visibility: visible;
    }
  }

  &.zdk-horizontal {
    padding: 0 0 0 15px;

    ul {
      text-align: right;
      right: 64px;
      top: 50%;
      transform: translateY(-50%);
      height: 100%;
      left: auto;
      width: 500px; /*width 100% only goes to width of button container */

      li {
        display: inline-block;
        margin: 15px 15px 0 0;
      }
    }
  }

  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998;

  ul {
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    bottom: 64px;
    margin: 0;
    visibility: hidden;

    li {
      margin-bottom: 15px;
    }

    a.zdk-btn-floating {
      opacity: 0;
    }
  }
}

// Flat button
.zdk-btn-flat {
  box-shadow: none;
  background-color: transparent;
  color: $button-flat-color;
  cursor: pointer;
  transition: background-color .2s;

  &:focus,
  &:active {
    background-color: transparent;
  }

  &:hover {
    background-color: rgba(0,0,0,.1);
    box-shadow: none;
  }

  &.zdk-disabled {
    color: $button-flat-disabled-color;
    cursor: default;
  }
}

// Large button
.zdk-btn-large {
  @extend .zdk-btn;
  height: $button-large-height;
  line-height: $button-large-height;

  i {
    font-size: $button-large-icon-font-size;
  }
}

// Block button
.zdk-btn-block {
  display: block;
}
