.zdk-materialboxed {
  @include mix-wrap-boxsizing-border-box;
  display: block;
  cursor: zoom-in;
  position: relative;
  transition: opacity .4s;
  &:hover {
    &:not(.zdk-active) {
      opacity: .8;
    }
    will-change: left, top, width, height;
  }
  .zdk-active {
    cursor: zoom-out;
  }
}

#zdk-materialbox-overlay {
  @include mix-wrap-boxsizing-border-box;
  position:fixed;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  background-color: #292929;
  z-index: 1000;
  will-change: opacity;
}

.zdk-materialbox-caption {
  position: fixed;
  display: none;
  color: #fff;
  line-height: 50px;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0% 15%;
  height: 50px;
  z-index: 1000;
  -webkit-font-smoothing: antialiased;
}