// @mixin box-shadow-2($args1, $args2) {
//     -webkit-box-shadow: $args1, $args2;
//     -moz-box-shadow: $args1, $args2;
//     box-shadow: $args1, $args2;
// }


@mixin mix-box-sizing($boxsizing) {
  //-webkit-box-sizing: $boxsizing;
  //-moz-box-sizing: $boxsizing;
  box-sizing: $boxsizing;
}

@mixin mix-boxsizing-border-box {
  @include mix-box-sizing(border-box);
  &::before, &::after {
    @include mix-box-sizing(border-box);
  }
}

@mixin mix-wrap-boxsizing-border-box {
  @include mix-boxsizing-border-box;
  & {
    * {
      @include mix-boxsizing-border-box;
    }
  }
}

