.zm-card-panel {
  transition: box-shadow .25s;
  padding: $card-padding;
  margin: $element-top-margin 0 $element-bottom-margin 0;
  border-radius: 2px;
  @extend .z-depth-1;
  background-color: $card-bg-color;
}

.zm-card {
  position: relative;
  margin: $element-top-margin 0 $element-bottom-margin 0;
  background-color: $card-bg-color;
  transition: box-shadow .25s;
  border-radius: 2px;
  @extend .z-depth-1;

  .zm-card-title {
    font-size: 24px;
    font-weight: 300;
    &.zm-activator {
      cursor: pointer;
    }
  }

  // Card Sizes
  &.zm-small, &.zm-medium, &.zm-large {
    position: relative;

    .zm-card-image {
      max-height: 60%;
      overflow: hidden;
    }
    .zm-card-content {
      max-height: 40%;
      overflow: hidden;
    }
    .zm-card-action {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &.zm-small {
    height: 300px;
  }

  &.zm-medium {
    height: 400px;
  }

  &.zm-large {
    height: 500px;
  }

  &.zm-sticky-action {
    .zm-card-action {
      z-index: 2;
    }

    .zm-card-reveal {
      z-index: 1;
      padding-bottom: 64px;
    }
  }

  .zm-card-image {
    position: relative;

    // Image background for content
    img {
      display: block;
      border-radius: 2px 2px 0 0;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
    }

    .zm-card-title {
      color: $card-bg-color;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: $card-padding;
    }

  }

  .zm-card-content {
    padding: $card-padding;
    border-radius: 0 0 2px 2px;

    p {
      margin: 0;
      color: inherit;
    }
    .zm-card-title {
      line-height: 48px;
    }
  }

  .zm-card-action {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160, 160, 160, .2);
    padding: $card-padding;


    a.zm-card-link {
      color: $card-link-color;
      margin-right: $card-padding;
      transition: color .3s ease;
      text-transform: uppercase;

      &:hover {
        color: $card-link-color-light;
      }
    }
  }

  .zm-card-reveal {
    padding: $card-padding;
    position: absolute;
    background-color: $card-bg-color;
    width: 100%;
    overflow-y: auto;
    top: 100%;
    height: 100%;
    z-index: 3;
    display: none;

    .zm-card-title {
      cursor: pointer;
      display: block;
    }
  }
}
