/* File Input
   ========================================================================== */

.zdk-file-field {
  position: relative;
  @include mix-wrap-boxsizing-border-box;
  .zdk-file-path-wrapper {
    overflow: hidden;
    padding-left: 10px;
  }

  input.zdk-file-path { width: 100%; }

  .zdk-btn {
    float: left;
    height: $input-height;
    line-height: $input-height;
  }

  span {
    cursor: pointer;
  }

  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
